body {
  background: #222;
  min-height: 100vh;
}
#canvas {
  position: absolute;
  display: block;
  -webkit-mask-image: radial-gradient(white, transparent 80%);
  mask-image: radial-gradient(white, transparent 80%);
}
